{{! The global footer at the very bottom of the screen }}
<footer class='brave-footer'>
  <div class='md:container flex justify-center items-center py-12'>
    <nav class='gh-head-menu'>
      {{navigation type='secondary'}}
    </nav>
  </div>
</footer>
{{!-- {{> "site-mobile-sidebar"}} --}}