/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-06-16 10:38:33
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-09-09 18:44:21
 */

$color-title: #515151;
$color-content: #3a3a3a;
$color-base: #ffb11b;
$color-code: #9b6e23;
$color-a: #dda52d;
$color-a-hover: #f9bf45;
$color-base-background: #fff5e3;

// body { 
//   animation: fadeInAnimation ease 3s ;
//   animation-iteration-count: 1; 
//   animation-fill-mode: forwards; 
// } 

// @keyframes fadeInAnimation { 
//   0% { 
//       opacity: 0; 
//   } 
//   100% { 
//       opacity: 1; 
//    } 
// }

// index
.container {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .row {
    // display: flex;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    // margin-right: -15px;
    // margin-left: -15px;

    .blog-list {
      color: #404040;
      position: relative;
      width: calc(100% - 100px);
      // width: calc(100% - 100px);
      float: right;

      &:before {
        position: absolute;
        top: 0;
        left: -100px;
        width: 75px;
        height: 75px;
        line-height: 75px;
        background: $color-base;
        content: ' ';
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 35px;
      }
      &:nth-child(2):before {
        content: '2';
        background-color: #d2a9fc;
      }
      &:nth-child(3):before {
        content: '3';
        background-color: #d2a9fc;
      }
      &:nth-child(4):before {
        content: '4';
        background-color: #d2a9fc;
      }
      &:nth-child(5):before {
        content: '5';
        background-color: #d2a9fc;
      }
      &:nth-child(6):before {
        content: '6';
        background-color: #d2a9fc;
      }
      &:nth-child(7):before {
        content: '7';
        background-color: #d2a9fc;
      }
      &:nth-child(8):before {
        content: '8';
        background-color: #d2a9fc;
      }
      &:nth-child(9):before {
        content: '9';
        background-color: #d2a9fc;
      }
      &:nth-child(10):before {
        content: '10';
        background-color: #d2a9fc;
      }

      // @for $i from 1 through 10 {
      //   &:nth-child(#{$i}):before {
      //     content: "#{$i}";
      //   }
      // }

      &:after {
        content: '';
        border: 2px solid $color-base;
        position: absolute;
        left: -63px;
        width: 1px;
        height: calc(100% + 45px);
        top: 0;
        opacity: 0.1;
      }

      .list-block {
        position: relative;
        border: 1px solid #eae4e45c;
        box-shadow: 1px 1px 9px 0 rgba(156, 202, 183, 0.27);
        padding: 40px 50px;
        margin-bottom: 42px;
        visibility: visible;
        animation-duration: 2s;

        &:hover {
          box-shadow: 0 -1px 20px 4px rgba(156, 202, 183, 0.27);
        }

        a {
          text-decoration: none;
          background-color: transparent;
        }

        .list-card-meta {
          font-size: 14px;
          font-weight: 500;
          font-family: Muli, sans-serif;
          line-height: 1.8;
        }

        h2 {
          font-size: 24px;
          line-height: 35px;
          margin-bottom: 20px;

          a {
            color: #333;
            &:hover {
              color: $color-a-hover;
            }
          }
        }

        p {
          margin-top: 0;
          margin-bottom: 1rem;
          line-height: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .btn-read {
          position: relative;
          display: inline-block;
          a {
            color: #404040;
            font-weight: 600;
          }
        }
      }
    }

    

    @media (max-width: 768px) {
      .blog-list {
        width: 100%;

        .list-block {
          margin-bottom: 40px;
          padding: 30px;
        }

        &:before,
        &:after {
          opacity: 0;
        }
      }
      // .blog-list:before {

      // }

      // .blog-list:after {
      //   opacity: 0;
      // }
    }
  }
}

.gh-content-wrap {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  .box {
    padding: 8vmin 4vw;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;

    .gh-content {
      box-sizing: border-box;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > blockquote,
      & > ol,
      & > ul,
      & > dl,
      & > p {
        /* font-family: var(--font-serif); */
        // font-weight: 400;
        font-size: 2rem;
        line-height: 1.6em;
      }

      & ul,
      & ol,
      & dl {
        padding-left: 1.9em;
      }
    }

    #vcomments {
      margin-top: 4vmin;
    }

    @media (max-width: 650px) {
      .gh-content blockquote,
      .gh-content ol,
      .gh-content ul,
      .gh-content dl,
      .gh-content p {
        font-size: 1.6rem;
      }

      .gh-content blockquote::before {
        left: -4vw;
      }
    }

    @import './yellow';
  }
}

@media (max-width: 1296px) {
  .gh-content-wrap {
    .box {
      padding: 8vmin 4vw 8vmin;
    }
  }
}

@media (max-width: 778px) {
  .gh-content-wrap {
    .box {
      padding: 8vmin 4vw 8vmin;
    }
  }
}
