.gh-content {
  letter-spacing: 0.05em;
  color: $color-content;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    color: $color-title;
    background: linear-gradient(#fff 60%, $color-base 40%);

    code {
      color: $color-title;
      background-color: rgba(27, 31, 35, 0.05);
      word-break: break-all;
      border-radius: 6px;
    }
  }

  strong {
    font-weight: bold;
    // color: $color-base;
  }

  blockquote {
    width: 100%;
    font-style: normal;
    // margin: 10px 5px;
    border-left: 3px solid $color-base;
    // border-right: 0px solid #35b378;
    color: #595959;
    quotes: none;
    background: $color-base-background;
    padding: 10px 10px 10px 20px;
    word-break: break-all;

    strong {
      font-weight: bold;
      // color: $color-base;
    }

    &::before {
      content: '';
      position: absolute;
      left: -1.5em;
      top: 0;
      bottom: 0;
      width: 0;
      background: var(--color-primary);
    }

    ol,
    ul {
      padding-left: 1.3em;
      padding-right: 1.5em;
    }
  }

  p > code,
  li > code {
    padding: 2px 4px;
    color: $color-code;
    background-color: $color-base-background;
    border-radius: 6px;
  }

  .code-toolbar {
    width: 100%;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
    font-size: 2rem;
    overflow: auto;

    &:before {
      content: '';
      display: block;
      background: url(https://my-wechat.mdnice.com/point.png);
      height: 30px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #2d2d2d;
      margin-bottom: -7px;
      border-radius: 5px;
      background-position: 10px 10px;
    }
  }

  a {
    text-decoration: none;
    word-wrap: break-word;
    color: $color-a;
    transition: color 0.3s;
    &:hover {
      color: $color-a-hover;
      text-decoration: underline;
    }
  }

  table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
  }

  table tr th,
  table tr td {
    box-sizing: border-box;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
  }

  img {
    // border-radius: 6px;
    box-shadow: #ccc 0 10px 15px;
  }
}

@media (max-width: 1296px) {
  .gh-content {
    .code-toolbar {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 778px) {
  .gh-content {
    .code-toolbar {
      font-size: 1.4rem;
    }
  }
}
