{{!< default}} {{#post}} {{#if feature_image}} <section class="pomelo-hero">
  {{> "site-hero" backgroundImage=feature_image}}
  </section>
  {{/if}}

  <article class="gh-article">
    <header class="gh-header gh-canvas">
      <h1 class="gh-title">{{title}}</h1>
      {{#if custom_excerpt}}
      <p class="gh-excerpt">{{custom_excerpt}}</p>
      {{/if}}
    </header>
    <div class="template-links-content">
      {{content}}
    </div>

  </article>
  {{/post}}