/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-06-16 15:12:12
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-08-21 10:48:04
 */

.gh-content {
  letter-spacing: 0.05em;
  color: #595959;
  h1 {
    // margin: 1.2em 0 1em;
    // padding: 0;
    font-weight: bold;
    color: #35b378;
  }

  h2 {
    // line-height: 32px;
    color: #35b378;
    // padding-top: 5px;
    // padding-right: 0.5em;
    // padding-left: 0.5em;
    // font-size: 23px;
    // margin: 1em 0 0rem 0;
    // padding: 0.5em 0;
    // text-align: leftt;
    font-weight: bold;
    code {
      color: #35b378;
      background-color: rgba(27, 31, 35, 0.05);
      word-break: break-all;
      border-radius: 6px;
    }
  }

  h3 {
    // margin: 1.2em 0 1em;
    // padding: 0;
    font-weight: bold;
    color: #35b378;
  }

  blockquote {
    font-style: normal;
    // margin: 10px 5px;
    border-left: 3px solid #35b378;
    // border-right: 0px solid #35b378;
    color: #616161;
    quotes: none;
    background: #fbf9fd;
    padding: 10px 10px 10px 20px;
    word-break: break-all;

    &::before {
      content: '';
      position: absolute;
      left: -1.5em;
      top: 0;
      bottom: 0;
      width: 0;
      background: var(--color-primary);
    }

    ol,
    ul {
      padding-left: 1.3em;
      padding-right: 1.5em;
    }
  }

  p code,
  li code {
    padding: 2px 4px;
    color: #35b378;
    background-color: rgba(27, 31, 35, 0.05);
    // word-break: break-all;
    border-radius: 6px;
  }

  .code-toolbar {
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
    font-size: 2rem;
    overflow: auto;

    &:before {
      content: '';
      display: block;
      background: url(https://imgkr.cn-bj.ufileos.com/97e4eed2-a992-4976-acf0-ccb6fb34d308.png);
      height: 30px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #2d2d2d;
      margin-bottom: -7px;
      border-radius: 5px;
      background-position: 10px 10px;
    }
  }

  a {
    text-decoration: none;
    word-wrap: break-word;
    color: #35b378;
    &:hover {
      border-bottom: 1px solid #35b378;
    }
  }

  table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
  }

  table tr th,
  table tr td {
    box-sizing: border-box;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
  }

  img{
    border-radius: 6px;
    box-shadow: #CCC 0 10px 15px;
  }
}

@media (max-width: 1296px) {
  .gh-content {
    .code-toolbar {
      font-size: 1.8rem;
    }
  }
}
