.gh-content {
  letter-spacing: 0.05em;
  color: $color-content;
  font-family: $normal-font;

  img {
    align-self: flex-start;
  }

  h1,
  h2,
  h3,
  h4 {
    padding-left: 6px;
    padding-right: 6px;
    align-self: flex-start;
    font-weight: bold;
    color: $color-title;
    background: linear-gradient(#fff 60%, $color-base 40%);

    code {
      color: $color-title;
      background-color: rgba(27, 31, 35, 0.05);
      word-break: normal;
      border-radius: 6px;
      font-family: $code-font;
    }
  }

  strong {
    font-weight: bold;
  }

  blockquote {
    width: 100%;
    font-style: normal;
    border-left: 3px solid $color-base;
    color: #595959;
    quotes: none;
    background: $color-base-background;
    padding: 10px 10px 10px 20px;
    word-break: break-all;

    &::before {
      content: '';
      position: absolute;
      left: -1.5em;
      top: 0;
      bottom: 0;
      width: 0;
      background: var(--color-primary);
    }

    ol,
    ul {
      padding-left: 1.3em;
      padding-right: 1.5em;
    }
  }

  p code,
  li code,
  blockquote > code {
    padding: 2px 6px;
    color: $color-code;
    background-color: $color-base-background;
    border-radius: 6px;
    font-family: $code-font;
    word-break: normal;
  }

  blockquote > code {
    color: $color-code;
  }

  & > pre {
    width: 100%;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
    position: relative;

    &:before {
      content: '';
      display: block;
      background: url(/assets/static/imgs/point.png);
      height: 30px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #2d2d2d;
      margin-bottom: -7px;
      border-radius: 5px;
      background-position: 10px 10px;
    }

    & > code {
      display: block;
      padding: 1em;
      margin: 0.5em 0;
      color: #ccc;
      background: transparent !important;
      font-family: $code-font;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      tab-size: 4;
      hyphens: none;
      overflow: auto;
    }
  }

  .code-toolbar {
    width: 100%;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;

    &:before {
      content: '';
      display: block;
      background: url(/assets/static/imgs/point.png);
      height: 30px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #2d2d2d;
      margin-bottom: -7px;
      border-radius: 5px;
      background-position: 10px 10px;
    }
  }

  a {
    text-decoration: none;
    word-wrap: break-word;
    color: $color-a;
    transition: color 0.3s;
    &:hover {
      color: $color-a-hover;
      text-decoration: underline;
    }
  }

  table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
  }

  table tr th,
  table tr td {
    box-sizing: border-box;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
    code {
      font-family: $normal-font;
    }
  }
}
