/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-06-16 10:38:33
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2021-04-17 18:02:48
 */

$color-base: #ffb11b;
$color-base-background: #fff5e3;
$color-base-disabled: #fff5ce;

$color-title: #515151;
$color-content: #3a3a3a;
$color-code: #9b6e23;
$color-a: #dda52d;
$color-a-hover: #f9bf45;

$code-font: Operator Mono, Consolas, Monaco, Menlo, monospace, Optima-Regular, Optima, PingFangSC-light,
  PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$normal-font: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times,
  "Times New Roman", serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
li,
th,
td {
  text-shadow: 0px 0px 1px #acacac;
  &::selection {
    text-shadow: 0px 0px 1px #acacac;
  }
}

// 首页
.container {
  .blog-list {
    color: #404040;
    position: relative;
    width: calc(100% - 100px);
    float: right;

    &:before {
      position: absolute;
      top: 0;
      left: -100px;
      width: 75px;
      height: 75px;
      line-height: 75px;
      background-color: #fe6061;
      // content: '1';
      border-radius: 50%;
      text-align: center;
      color: #fff;
      font-size: 35px;
    }
    &:after {
      content: "";
      border: 2px solid #fe6061;
      position: absolute;
      left: -63px;
      width: 1px;
      height: calc(100% + 45px);
      top: 0;
      opacity: 0.1;
    }

    &:nth-child(1) {
      $color: #fe6061;
      &:before {
        content: "1";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }

      .list-card-tag a {
        color: $color;
        // border-radius: 6px;
        // margin-left: 6px;
        // background-color: rgba($color: $color, $alpha: .8);
      }
    }

    &:nth-child(2) {
      $color: #d2a9fc;
      &:before {
        content: "2";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }

      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(3) {
      $color: #f8d86b;
      &:before {
        content: "3";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    &:nth-child(4) {
      $color: #74cee7;
      &:before {
        content: "4";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    &:nth-child(5) {
      $color: #8acbff;
      &:before {
        content: "5";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    &:nth-child(6) {
      $color: #55efc4;
      &:before {
        content: "6";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    &:nth-child(7) {
      $color: #9494dc;
      &:before {
        content: "7";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(8) {
      $color: #8c949a;
      &:before {
        content: "8";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    &:nth-child(9) {
      $color: #e487a3;
      &:before {
        content: "9";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    &:nth-child(10) {
      $color: #d7c6d4;
      &:before {
        content: "10";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }

    .list-block {
      position: relative;
      border: 1px solid #eae4e45c;
      box-shadow: 1px 1px 9px 0 rgba(156, 202, 183, 0.27);
      padding: 40px 50px;
      margin-bottom: 42px;
      visibility: visible;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 -1px 20px 4px rgba(156, 202, 183, 0.27);
      }

      a {
        text-decoration: none;
        background-color: transparent;
      }

      .list-card-meta {
        font-size: 14px;
        font-weight: 500;
        font-family: Muli, sans-serif;
        line-height: 1.8;
        .list-card-tag a {
          display: inline-block;
          padding: 0 6px;
        }

        .list-card-tag a:hover {
          text-decoration: underline;
        }
      }

      h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 20px;

        a {
          color: #333;
          &:hover {
            color: $color-a-hover;
          }
        }
      }

      p {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .btn-read {
        position: relative;
        display: inline-block;
        a {
          color: #404040;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .blog-list {
      width: 100%;

      .list-block {
        margin-bottom: 40px;
        padding: 30px;
      }

      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
}

// 分页
.pagination-area {
  margin: 58px 0;
  .post-pagination p {
    display: inline-block;
    margin: 0;
    padding: 0;

    a {
      display: block;
      -webkit-transition: all 0.4s linear;
      transition: all 0.4s linear;
      color: #404040;
      border-radius: 35px;
      padding: 10px 25px;
      box-shadow: 0 15px 40px -5px rgba(42, 154, 108, 0.23);
      text-decoration: none;
      background-color: transparent;
    }
    a:hover {
      background: $color-a-hover;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      color: #fff;
    }
  }
}

.gh-content-wrap {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .box {
    padding: 8vmin 4vw;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;

    .gh-content {
      word-break: break-all;
      display: flex;
      flex-direction: column;

      & > blockquote,
      & > ol,
      & > ul,
      & > dl,
      & > p,
      & > pre,
      & > .code-toolbar {
        /* font-family: var(--font-serif); */
        // font-weight: 400;
        font-size: 1.8rem;
        // line-height: 1.6em;
        line-height: 2em;
        font-weight: 500;
      }

      & ul,
      & ol,
      & dl {
        padding-left: 1.9em;
      }
      img {
        zoom: 1 !important;
        height: auto;
      }
    }

    #vcomments {
      margin-top: 4vmin;
    }

    @media (max-width: 650px) {
      .gh-content blockquote,
      .gh-content ol,
      .gh-content ul,
      .gh-content dl,
      .gh-content p,
      .gh-content pre,
      .gh-content .code-toolbar {
        font-size: 1.6rem;
      }

      .gh-content blockquote::before {
        left: -4vw;
      }
    }

    @import "yellow";
  }
}
