/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-06-16 10:34:34
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-06-17 23:20:59
 */

body {
  --card-shadow-color: rgba(0, 0, 0, 0.15);
  /* Fonts */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
}
