h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
li,
th,
td {
  text-shadow: 0px 0px 1px #acacac;
  &::selection {
    text-shadow: 0px 0px 1px #acacac;
  }
}

// 首页
.container {
  .blog-list {
    color: #404040;
    position: relative;
    width: calc(100% - 100px);
    float: right;

    &:before {
      position: absolute;
      top: 0;
      left: -100px;
      width: 75px;
      height: 75px;
      line-height: 75px;
      background-color: #fe6061;
      // content: '1';
      border-radius: 50%;
      text-align: center;
      color: #fff;
      font-size: 35px;
    }
    &:after {
      content: "";
      border: 2px solid #fe6061;
      position: absolute;
      left: -63px;
      width: 1px;
      height: calc(100% + 45px);
      top: 0;
      opacity: 0.1;
    }
    &:nth-child(1) {
      $color: #fe6061;
      &:before {
        content: "1";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }

      .list-card-tag a {
        color: $color;
        // border-radius: 6px;
        // margin-left: 6px;
        // background-color: rgba($color: $color, $alpha: .8);
      }
    }
    &:nth-child(2) {
      $color: #d2a9fc;
      &:before {
        content: "2";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }

      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(3) {
      $color: #f8d86b;
      &:before {
        content: "3";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(4) {
      $color: #74cee7;
      &:before {
        content: "4";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(5) {
      $color: #8acbff;
      &:before {
        content: "5";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(6) {
      $color: #55efc4;
      &:before {
        content: "6";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(7) {
      $color: #9494dc;
      &:before {
        content: "7";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(8) {
      $color: #8c949a;
      &:before {
        content: "8";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(9) {
      $color: #e487a3;
      &:before {
        content: "9";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    &:nth-child(10) {
      $color: #d7c6d4;
      &:before {
        content: "10";
        background-color: $color;
      }
      &:after {
        border-color: $color;
      }
      .list-card-tag a {
        color: $color;
      }
    }
    .list-block {
      position: relative;
      border: 1px solid #eae4e45c;
      box-shadow: 1px 1px 9px 0 rgba(156, 202, 183, 0.27);
      padding: 40px 50px;
      margin-bottom: 42px;
      visibility: visible;
      transition: 0.3s;
      &:hover {
        box-shadow: 0 -1px 20px 4px rgba(156, 202, 183, 0.27);
      }
      a {
        text-decoration: none;
        background-color: transparent;
      }
      .list-card-meta {
        font-size: 14px;
        font-weight: 500;
        font-family: Muli, sans-serif;
        line-height: 1.8;
        .list-card-tag a {
          display: inline-block;
          padding: 0 6px;
        }

        .list-card-tag a:hover {
          text-decoration: underline;
        }
      }
      h2 {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 20px;

        a {
          color: var(--color-content);
          &:hover {
            color: var(--color-a-hover);
          }
        }
      }
      p {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 1.6;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .btn-read {
        position: relative;
        display: inline-block;
        a {
          color: #404040;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .blog-list {
      width: 100%;
      .list-block {
        margin-bottom: 20px;
        padding: 20px 20px 10px;
      }
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
}

.gh-content-wrap {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .box {
    padding: 8vmin 4vw;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;

    .gh-content {
      word-break: break-all;

      & > blockquote,
      & > ol,
      & > ul,
      & > dl,
      & > p,
      & > pre,
      & > .code-toolbar {
        font-size: 1.6rem;
        line-height: 1.6;
      }

      & ul,
      & ol,
      & dl {
        padding-left: 1.9em;
      }
      img {
        zoom: 1 !important;
        height: auto;
      }
    }

    // twikoo 评论
    #twikoo {
      margin-top: 16vmin;
    }

    // valine 评论
    #vcomments {
      margin-top: 16vmin;
    }

    @media (max-width: 650px) {
      .gh-content blockquote,
      .gh-content ol,
      .gh-content ul,
      .gh-content dl,
      .gh-content p,
      .gh-content pre,
      .gh-content .code-toolbar {
        font-size: 1.6rem;
      }

      .gh-content {
        & > blockquote,
        & > ol,
        & > ul,
        & > dl,
        & > p,
        & > pre,
        & > .code-toolbar {
          line-height: 1.6;
        }
      }

      .gh-content blockquote::before {
        left: -4vw;
      }
    }
  }
}
