.gh-content {
  // letter-spacing: 0.05em;
  letter-spacing: normal;
  color: var(--color-content);

  img {
    align-self: flex-start;
  }

  h1,
  h2 {
    // padding-left: 6px;
    // padding-right: 6px;
    align-self: flex-start;
    font-weight: 600;
    color: var(--color-title);
    background: linear-gradient(#fff 60%, var(--color-theme-base) 40%);

    display: inline-block;
    background: var(--color-theme-base);
    // color: #fff;
    padding: 6px 8px 3px 6px;
    border-top-right-radius: 6px;
    margin-right: 2px;
    box-shadow: 6px 3px 0 0 rgba(255, 177, 27, 0.5);

    code {
      color: var(--color-title);
      background-color: rgba(27, 31, 35, 0.05);
      word-break: normal;
      border-radius: 6px;
      font-family: var(--font-sans);
    }
  }

  strong {
    font-weight: 600;
    margin: 0 2px;
  }

  blockquote {
    width: 100%;
    font-style: normal;
    border-left: 3px solid var(--color-theme-base);
    color: #595959;
    quotes: none;
    background: var(--color-theme-base-background);
    padding: 10px 10px 10px 20px;
    word-break: break-all;

    &::before {
      content: "";
      position: absolute;
      left: -1.5em;
      top: 0;
      bottom: 0;
      width: 0;
      background: var(--color-primary);
    }

    ol,
    ul {
      padding-left: 1.3em;
      padding-right: 1.5em;
    }
  }

  p code,
  li > code,
  blockquote > code {
    padding: 0px 3px;
    color: var(--color-code);
    background-color: var(--color-theme-base-background);
    border-radius: 6px;
    font-family: var(--font-sans);
    word-break: normal;
    margin: 0 2px;
  }

  blockquote > code {
    color: var(--color-code);
  }

  & > pre {
    width: 100%;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
    position: relative;

    &:before {
      content: "";
      display: block;
      background: url(/assets/static/imgs/point.png);
      height: 30px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #2d2d2d;
      margin-bottom: -7px;
      border-radius: 5px;
      background-position: 10px 10px;
    }

    & > code {
      display: block;
      padding: 1em;
      margin: 0.5em 0;
      color: #ccc;
      background: transparent !important;
      font-family: var(--font-sans);
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      tab-size: 4;
      hyphens: none;
      overflow: auto;
    }
  }

  .code-toolbar {
    width: 100%;
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;

    &:before {
      content: "";
      display: block;
      background: url(/assets/static/imgs/point.png);
      height: 30px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #2d2d2d;
      margin-bottom: -7px;
      border-radius: 5px;
      background-position: 10px 10px;
    }
  }

  pre[class*="language-"].line-numbers {
    border-radius: 5px;
  }

  a {
    text-decoration: none;
    word-wrap: break-word;
    color: var(--color-a);
    transition: color 0.3s;
    &:hover {
      color: var(--color-a-hover);
      text-decoration: underline;
    }
  }

  table tr th {
    font-weight: 600;
    background-color: #f0f0f0;
  }

  table tr th,
  table tr td {
    box-sizing: border-box;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
    code {
      font-family: var(--font-sans);
    }
  }
}
